.list {
  list-style: none;
  padding: 30px;
  margin: 40px;

  display: grid;
  gap: 40px 60px;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 200px));
}

.item {
  padding: 30px;
  height: 40px;
  font-size: 25px;
  background-color: aqua;
  border: 2px solid purple;
}
